<!-- Teste 1 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <!-- <img [src]=".../cadastroBase/src/assets/img/dotgrouplogo.png"class="card-img-top" alt="..."> -->
    <a class="navbar-brand" [routerLink]="['/']">Loja Filmes Dot</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <!-- <a tabindex="0" [routerLink]="['']" class="btn btn-success">Pesquisar</a> -->
      </form>
    </div>


    <ul class="navbar-nav me-auto mb-2 mb-lg-0">

      <li class="nav-item" >
        <a tabindex="0" [routerLink]="['/favoritos']" class="btn btn-success">Favoritos</a>
      </li>

      <li class="nav-item" >
        <a tabindex="0" [routerLink]="['/compras']" class="btn btn-success">Comprar</a>
      </li>


    </ul>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item " >
          <p class="nav-link" href="#">Fabiano: (</p>
        </li>
        <li class="nav-item " >
          <a class="nav-link active " href="https://www.linkedin.com/in/fabiano-kerstner/">LinkedIn</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active " href="https://github.com/knoppf1">GitHub</a>
        </li>
        <li class="nav-item " >
          <p class="nav-link" href="#"> )</p>
        </li>
      </ul>

  </div>
</nav>
<router-outlet></router-outlet>
